<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta
      name="description"
      content="freeCodeCamp - APIs and Microservices Project: URL Shortener Microservice"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.glitch.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron p-4">
            <div class="container">
              <h1 id="title" class="text-center">URL Shortener Microservice</h1>

              <h3>User Stories:</h3>
              <ol>
                <li>
                  I can POST a URL to
                  <code
                    >https://adam777z-freecodecamp-project-url-shortener.glitch.me/api/shorturl/new</code
                  >
                  and I will receive a shortened URL in the JSON response.<br />Example:
                  <code>{"original_url":"www.google.com","short_url":1}</code>
                </li>
                <li>
                  If I pass an invalid URL that doesn't follow the
                  <code>http(s)://www.example.com(/more/routes)</code> format,
                  the JSON response will contain an error like
                  <code>{"error":"invalid URL"}</code><br />
                  HINT: to be sure that the submitted URL points to a valid site
                  you can use the function
                  <code>dns.lookup(host, cb)</code> from the
                  <code>dns</code> core module.
                </li>
                <li>
                  When I visit the shortened URL, it will redirect me to my
                  original link.
                </li>
              </ol>

              <h3>Short URL Creation</h3>
              <p>
                Example:
                <code
                  >POST
                  https://adam777z-freecodecamp-project-url-shortener.glitch.me/api/shorturl/new</code
                >
                - <code>https://www.google.com</code>
              </p>
              <form class="form-inline" action="api/shorturl/new" method="POST">
                <div class="form-row">
                  <div class="form-group col">
                    <label for="url_input">URL to be shortened:</label>
                    <input
                      id="url_input"
                      class="form-control ml-2 mr-2"
                      type="text"
                      name="url"
                      placeholder="URL to be shortened"
                      value="https://www.freecodecamp.org"
                    />
                    <input
                      class="btn btn-primary"
                      type="submit"
                      value="POST URL"
                    />
                  </div>
                </div>
              </form>

              <h3>Example Usage:</h3>
              <ul>
                <li>
                  <a href="/api/shorturl/jf71vgvg3n" target="_blank"
                    >/api/shorturl/jf71vgvg3n</a
                  >
                  will redirect to
                  <a href="https://www.freecodecamp.org" target="_blank"
                    >https://www.freecodecamp.org</a
                  >
                </li>
                <li>
                  <a href="/api/shorturl/jbx411b0xe" target="_blank"
                    >/api/shorturl/jbx411b0xe</a
                  >
                  will redirect to
                  <a href="https://www.freecodecamp.org/forum/" target="_blank"
                    >https://www.freecodecamp.org/forum/</a
                  >
                </li>
                <li>
                  <a href="/api/shorturl/invalid">/api/shorturl/invalid</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
